# --- Poetry ---
.venv/
poetry.lock

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
pyrightconfig.json

# IDEs
.vscode/
.idea/

# Optional dotenv files
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Local files
*.sqlite3

# macOS / Linux / Windows OS files
.DS_Store
Thumbs.db
